* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 10px;
}

h1 {
  font-size: 100px;
  letter-spacing: -3px;
  font-weight: 300;
}

span {
  display: inline-block;
  color: #868e96;
  font-size: 23px;
  margin-top: 15px;
  margin-left: 7px;
}

main {
  margin-top: 10px;
}

.form-group label {
  color: #494949;
  font-size: 23px;
  font-weight: 400;
}

.form-group input {
  padding: 10px 20px;
  width: 100%;
}

.form-button {
  padding: 10px;
  background-image: linear-gradient(
    45deg,
    rgba(138, 43, 226, 0.7),
    rgba(138, 43, 226, 0.9)
  );
  color: white;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  width: 100%;
}

.error-toast {
  color: white;
}

article {
  min-height: 300px;
  border: 10px solid transparent; /* Makes the border area transparent */
  border-radius: 10px; /* Optional: for rounded corners */
  background-image: linear-gradient(white, white),
    linear-gradient(45deg, rgba(138, 43, 226, 0.8), rgba(138, 43, 226, 0.6)); /* Gradient border */
  background-origin: border-box; /* Ensures background is confined to the border */
  background-clip: content-box, border-box; /* Clips background to content box and border box */
}

p {
  display: inline-block;
  padding: 30px;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  color: #494949;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-text {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 300;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    rgba(138, 43, 226, 0.9),
    rgba(138, 43, 226, 0.7)
  );
  background-clip: text;
  animation: fadeInOut 2s ease-in-out infinite;
  display: block;
}

h2 {
  padding: 20px 30px 0px 30px;
  font-weight: bold;
}
